*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 100vh;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: #fff;
    width: 500px;
    height: 500px;
    text-align: center;
    box-shadow: 0 4px 2px #5900ff,0px 1px 2px 2px #5900ff,0 2px 1px #5900ff!important;
    border-radius: 10px;

}

.login h1{
    font-size: 50px;
    padding-bottom: 10px;
}

.input{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
}

.input input{
    text-decoration: none;
    background-color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
}


.login button{
    width: 100%;
    height: 40px;
    background: linear-gradient(50deg, #5900ff, #9900ff);
    box-shadow: 2px 2px 5px 0px #5900ff7e;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}


.login button:active{
    
    background: linear-gradient(50deg, #5900ff92, #9900ff88);
}

#remember{
    width: 12px;
    margin: 0px;
    height: 12px;
    padding-right: 10px;
}

.selectButton{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.selectInfo{
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}

#forgotPassword a{
    text-decoration: none;
    color: black;
}

.createAccount{
    margin-top: 20px;
}

.createAccount a{
    text-decoration: none;
    color: #5900ff;
}


#align{
    position: fixed;
    padding: 0.2rem;
    border-radius: 0.4rem;
    top: 0;
    color: white;
    background-color: rgb(24, 24, 24);
    z-index: 1;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.arrow a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
    color: #fff;
}

.arrow a svg:hover{
    color:#5900ff
}